

/* html{
  margin: 0;
  height: 100vh;
} */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(197, 170, 212);
  color: var(--cui-footer-color);
  height: var(--cui-footer-min-height);
  padding: var(--cui-footer-padding-y) var(--cui-footer-padding-x);
  border: var(--cui-footer-border-width) solid var(--cui-footer-border-color);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 50px;
}

.footer__left {
  font-size: large;
}


main {
  /*same or more bottom padding than footer height */
  
  padding-bottom: 50px;
  height: auto;
  background-color: #b89dba;
}

/* Navbar */
#menu {
  background: linear-gradient(
    to bottom right,
    rgb(197, 170, 212),
    rgb(59, 24, 129)
  );
  color: var(--cui-footer-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--cui-footer-padding-y) var(--cui-footer-padding-x);
  border-radius: 10px;
}

#menu div {
  display: flex;
  gap: 2rem;
}

#menu h3 {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Climate Crisis";
  font-weight: bold;
  text-transform: uppercase;
}

#menu a {
  text-decoration: underline;
  color: var(--cui-footer-color);
  transition: color 0.3s;
}

#menu a:hover {
  color: #ece18f;
}

/* Searchbar */
input[type="text"] {
  font-family: "Climate Crisis";
  font-size: 16px;
}

input[type="submit"] {
  font-family: "Climate Crisis";
  font-size: 16px;
}

.clear {
  font-family: "Climate Crisis";
  font-size: 16px;
}

/* About */

.about img {
  width: 120px; /* set the desired width */
  height: 120px; /* set the desired height */
  object-fit: cover; /* scale the image to cover the entire container */
  border-radius: 50px; 
}

.about h3 span {
  font-family: "Climate Crisis";
}

.about-container {
  text-align: center;
}

/* Videos */

li {
  list-style: none;
}
ul {
  list-style: none;
  /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; */
}

.video-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.card {
  background-color: rgb(174, 137, 199);
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  border: 10px double #441149;
  margin: 10px;
  padding: 10px;
  padding-right: 40px;
  padding-top: 40px;
  display: flex;
}

.card:hover .overlay {
  opacity: 1;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.card p {
  margin-bottom: 0;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
}

.overlay:hover {
  cursor: pointer;
}

h1 span {
  text-decoration: underline;
}

.error {
  border: 1px solid black var(--error);
  margin: 25px;
  padding: 25px;
}
.error p {
  color: var(--error);
  font-family: var(--primary-font);
  margin: 25px;
  text-align: center;
}

.home-container img {
  width: 100%;
}

.logo {
padding-left: 15px;
}
